@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Protest+Guerrilla&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*  */

.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", "Times New Roman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.btn-round {
  border-radius: 20px;
  padding: 4px 10px;
}

nav > ul > li:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}
